.world-wrapper {
  width: 100%;
  height: 100%;

  .world-wrapper__container {
    display: flex;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  &__world-map {
    position: relative;
    background: url(../../public/world-map.jpg) no-repeat 0 0;
    width: 1037px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .cities {
    li {
      position: absolute;
      z-index: 10;
      padding: 6px;
      background-image: none;
      background-color: rgba(240, 240, 240, 0.5);
      border: solid 1px #fff;
      border-radius: 8px;
      -webkit-box-shadow: 0 1px 5px rgba(50, 50, 50, 0.25);
      box-shadow: 0 1px 5px rgba(50, 50, 50, 0.25);
      line-height: 1;
      outline: 0;
      width: 80px;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      img {
        margin: 0 auto;
      }
    }
  }
}
