.cities__name {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

// World
.cities__NewYork {
  top: 150px;
  left: 300px;
}
.cities__LosAngeles {
  top: 200px;
  left: 150px;
}
.cities__Anchorage {
  top: 120px;
  left: 50px;
}
.cities__Lima {
  top: 340px;
  left: 260px;
}
.cities__SaoPaulo {
  top: 480px;
  left: 340px;
}
.cities__Honolulu {
  top: 320px;
  right: 0px;
}
.cities__Seoul {
  top: 180px;
  right: 160px;
}
.cities__Beijing {
  top: 220px;
  right: 240px;
}
.cities__Sydney {
  top: 420px;
  right: 100px;
}
.cities__Jakarta {
  top: 380px;
  right: 240px;
}
.cities__Moscow {
  top: 120px;
  right: 360px;
}
.cities__London {
  top: 100px;
  right: 520px;
}
.cities__Cairo {
  top: 220px;
  right: 430px;
}
.cities__CapeTown {
  top: 450px;
  right: 430px;
}

// Japan
.cities__Sapporo {
  top: 50px;
  right: 200px;
}
.cities__Kushiro {
  top: 100px;
  right: 50px;
}
.cities__Sendai {
  top: 250px;
  right: 100px;
}
.cities__Niigata {
  top: 200px;
  right: 250px;
}
.cities__Tokyo {
  top: 380px;
  right: 120px;
}
.cities__Kanazawa {
  top: 320px;
  right: 310px;
}
.cities__Nagoya {
  top: 440px;
  right: 220px;
}
.cities__Osaka {
  top: 440px;
  right: 330px;
}
.cities__Hiroshima {
  top: 340px;
  right: 440px;
}
.cities__Kochi {
  top: 480px;
  right: 440px;
}
.cities__Fukuoka {
  top: 380px;
  right: 540px;
}
.cities__Kagoshima {
  top: 550px;
  right: 560px;
}
.cities__Naha {
  top: 560px;
  right: 110px;
}
